<div class="home-container">
    {{>menu-lateral}}
    <div class="ramais-container">
        {{#each ramaisF}}
        {{#ifCond disponibilidade "==" 0}}
        <a href="/ramal-{{id}}-fisico">
            <div class="ramal-container livre-fisico" id="{{id}}">
                {{!-- <span class="material-icons">&#xe838;</span> --}}
                <h2>{{numero}}</h3>
            </div>
        </a>
        {{/ifCond}}
        {{#ifCond disponibilidade "==" 1}}
        <a href="/ramal-{{id}}-fisico">
            <div class="ramal-container ocupado-fisico" id="{{id}}">
                {{!-- <span class="material-icons">&#xe838;</span> --}}
                <h2>{{numero}}</h3>
            </div>
        </a>
        {{/ifCond}}
        {{/each}}
        {{#each ramaisV}}
        {{#ifCond disponibilidade "==" 0 }}
        <a href="/ramal-{{id}}-virtual">
            <div class="ramal-container livre-virtual" id="{{id}}">
                <h2>{{numero}}</h3>
            </div>
        </a>
        {{/ifCond}}
        {{#ifCond disponibilidade "==" 1 }}
        <a href="/ramal-{{id}}-virtual">
            <div class="ramal-container ocupado-virtual" id="{{id}}">
                {{#if chefia}}
                <span class="material-icons">&#xe838;</span>
                {{/if}}
                <h2>{{numero}}</h3>
            </div>
        </a>
        {{/ifCond}}

        {{/each}}
    </div>
</div>